@charset "utf-8";

body{
   background-color: rgb(185, 207, 248);
}

p, h1, h2{
   color: rgb(0, 0, 0);
   clear: both;
}

a{
   color: rgb(45, 44, 48);
}

div#Dates {   position: relative;}
div#Dates table {   position: absolute;}


  @keyframes scroll {
   0%    {top: 250px;}
   100%  {top: -530px;}
}


div#Dates table { 
   animation: scroll 10s linear infinite;
}
div#Dates:hover table {
   animation-play-state:paused;
}

