@charset "utf-8";

body {
  background-image: url('lightblue.png');
  background-size: 100% 100%;
  font-size: 20px;
  padding: 10px;
  width:100%;
  min-width:600px;
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
  
}

* {
  box-sizing: border-box;
}

div.row {
  background-color:rgb(115, 182, 238);
  display:-ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width:100%;
  margin: 0 ;
}

fieldset {
  max-width: 100%;
 -webkit-flex: 1 1 300px;
 flex: 1 1 300px; 
 margin: 10px;  
 border-radius: 10px;
}

.col-50 {
  background-color: lightcyan;
  -ms-flex: 35%; 
  flex: 35%;
}

.col-75 {
  background-color: rgba(148, 207, 255, 0.651);
  -ms-flex: 75%; 
  flex: 75%;
  border-radius: 10px;
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: rgba(195, 241, 255, 0.856);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}                   