
body{
    width:100%;
    min-width:600px;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    padding: 50px;
}

h1{
    text-align: center;
    clear: both;
}

h2{
    background-image:linear-gradient(to left,lightblue,blue);
}
